<div class="container col-md-6 offset-md-3 mt-5">

    <div class="card">
        <h4 class="card-header">Panel</h4>
        <div class="card-body">
           
                <div>
                    <button  type="submit" (click)="GetMaharajaPassword()"  class="btn btn-primary">
                        Get Maharaja Current Password
                    </button>

                    
                    <button  type="submit" style="margin-left: 35px;" (click)="logout()"  class="btn btn-primary">
                         Logout
                    </button>
                </div>
                <br/>
                <div class="mb-3 ">
                    <label class="form-label">Password :</label> {{ this.MaharajaPassword}}
                </div>
            
        </div>
    </div>
</div>